inputDir = params.in
configDir = params.config
outputDir = params.out
println "!!!!!!!!! $inputDir:$configDir:$outputDir"

profiles {

    local {
        docker {
            enabled = true
        }

        singularity {
            enabled = false
        }
    }

    lsf {
        process.executor = 'lsf'
        process {
            clusterOptions = '-P scicompsoft'
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }

    }
}

docker {
    runOptions = "-v $inputDir:$inputDir -v $configDir:$configDir -v $outputDir:$outputDir"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "-B $inputDir -B $configDir -B $outputDir"
}
