profiles {

    local {
    }

    lsf {
        process.executor = 'lsf'
        process {
            clusterOptions = '-P scicompsoft'
        }
    }

    docker {
        docker {
            enabled = true
            runOptions = "-v $inputDir -v $configDir -v $outputDir"
        }
        singularity {
            enabled = false
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
}
