profiles {

    local {
    }

    lsf {
        process.executor = 'lsf'
        process {
            clusterOptions = '-P scicompsoft'
        }
    }
}

docker {
    enabled = true
    runOptions = "-v params.in -v params.config -v params.out"
}

singularity {
    enabled = false
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "-B params.in -B params.config -B params.out"
}
